html {
    font-family: sans-serif;
    background-color: gray;
}

body {
    max-width: 1920px;
    margin: 0 auto;
    background-color: white;
}

.background-image-responsive {
    background: url(./images/header/header.jpg) no-repeat center;
    height: 200px;
}

section {
    padding: 20px;
}

p {
    line-height: 1.5;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}